---
---

$positive: #00BCD4;
$main-color: #00BCD4;
$darker: #223641;


@import 'styles';
@import 'home';
@import 'images';
@import 'jobs';
@import 'nav';
@import 'tutorial';
@import 'pricing';
@import 'article';
@import 'status';
@import 'features';