.bike {
  background: url('../img/bike.svg');
}
.cargobike {
  background: url('../img/cargobike.svg');
}
.car {
  background: url('../img/car.svg');
}
.van {
  background: url('../img/van.svg');
}
.truck {
  background: url('../img/truck.svg');
}