<!DOCTYPE html>
<html lang="{{page.lang}}">
    {% include head.html %}

    <body ng-app="urbantz" ng-cloak ng-controller="HomeController" class="blog {{ page.body_classes }}">
        <div class="banner">{% include nav.html %}</div>
        <article>
            {% for p in site.pages %}
                {% if p.lang == page.lang and p.ref == 'blog' %}
                <md-card class="animated slideInUp" ng-click="view.go('{{ p.url }}')">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{ p.title }}</span>
                            <span class="md-subhead">Published by {{ p.author }} on {{p.date}}</span>
                        </md-card-title-text>
                    </md-card-title>

                    <md-card-content>
                        <div layout="row" layout-align="start start">
                            <img flex="30" src="{{p.header_image_file}}" 
                                width="{{p.header_image_width}}" 
                                height="{{p.header_image_height}}" 
                                style="height: 200px; margin: 0px 20px; object-fit: contain;">
                        
                            <div>{{ p.content | strip_html | truncate: 400 }}</div>
                        </div>
                    </md-card-content>
                </md-card>
                {% endif %}
            {% endfor %}            
        </article>
    </body>
</html>