<!DOCTYPE html>
<html lang="{{page.lang}}">
    {% include head.html %}
    <body ng-app="urbantz" ng-cloak ng-controller="HomeController" class="{{ page.body_classes }}">
        <div class="banner">{% include nav.html %}</div>
        
        <article>
            {% if page.title and page.hidetitle != true %}
            <h1 class="animated slideInUp">{{ page.title }}</h1>
            {% endif %}
            <md-chips>
                {% for tag in page.tags %}
                    <md-chip>{{ tag }}</md-chip>
                {% endfor %}
                </md-list>
            </md-chips>
            <div class="animated fadeIn">
                {% if page.ref == 'blog' and page.header_image_file %}
                <img src="{{page.header_image_file}}">
                {% endif %}
                {{ page.content | markdownify }}
            </div>
        </article>

        {% include footer.html %}
    </body>
</html>